@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  height: 100vh;
}
.banner{
  position:absolute;
  width: 100vw;
  min-height: 50vh;
  min-height: 50vh;
  columns: 1fr 1fr;
  border-color: red;
  background-color: white;
  clip-path: polygon(100% 0, 100% 21%, 100% 60%, 100% 100%, 0 100%, 0 100%, 36% 0);
  background-image: url(https://i.postimg.cc/fRTrzh6r/banner.png);
  background-repeat: round;
  z-index: -1;
}
.my-name{
  position:absolute;
  color: rgb(247, 169, 0);
  font-size: 7rem;
  padding-left: 9rem;
  z-index: 1;
  font-family: 'IBM Plex Serif', serif;
}
.separador{
  width: 100%;
  height: 50vh;
}
.profile__img{
  z-index: 1;
  float: right;
  border-radius:50%;
  margin: 3rem;
  width: 9vw;
}
.container__h1{
  color: white;
  font-size: 5rem;
  padding: 5rem 2rem;
  width: 100vw;

}
.myself__p{
  color: white;
  font-size: 3rem;
  max-width: 70%;
  line-height: 5rem;
  text-align: justify;
  margin: 0 auto;
  font-family: sans-serif;
}

p ol img{
  display: flex;
  border-radius: 1rem;
  margin: 4rem auto;
  width: 20vw;
}
.container__technologies{
  display: grid;
  grid-template-columns: 1fr;
}