@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  height: 100vh;
}
.banner{
  display: grid;
  position:absolute;
  width: 100vw;
  min-height: 50vh;
  min-height: 50vh;
  columns: 1fr 1fr;
  border-color: red;
  background-color: white;
  z-index: 0;
  clip-path: polygon(100% 0, 100% 21%, 100% 60%, 100% 100%, 0 100%, 0 100%, 36% 0);
  background-image: url(https://i.postimg.cc/xd1bNz4R/banner.png);
  background-repeat: round;
  z-index: -1;
}
.my-name{
  position:absolute;
  color: rgb(247, 169, 0);
  font-size: 7rem;
  padding-left: 6rem;
   z-index: 1;
  font-family: 'IBM Plex Serif', serif;
}
.separador{
  width: 100%;
  height: 50vh;
}
.separador_img{
  z-index: 1;
  float: right;
  border-radius:50%;
  margin: 1rem;
  width: 9vw;
}